$size: 50px
$gutter: 10px
$n-child: 5
$n-sub-child: 5
$color: transparentize(#a9b7f5, 0.5)

.control
  position: fixed
  bottom: 20px
  right: 20px
  z-index: 2
  transition: .4s

  &--disabled
    pointer-events: none
    filter: grayscale(100%)
    opacity: 0.5
  
  #control-menu-btn
    position: absolute
    bottom: 0px
    right: 0
    margin: 0
    z-index: 2
    line-height: 0

  &__btn
    height: $size
    width: $size
    border: 0px
    padding: 0
    margin: 0
    box-sizing: border-box
    border-radius: 100%
    background-color: $color-primary-dark
    color: white
    display: flex
    justify-content: center
    margin: 10px 0
    transition: all .4s ease-in-out
    font-size: $font-size-medium
    z-index: 1
    outline: 0
    cursor: pointer

  &__out
    position: absolute
    bottom: 0
    right: -$gutter/2
    width: $size+$gutter
    border-radius: $size
    transition: .4s

    @for $i from 0 to 7
      &--#{$i}
        bottom: #{($size+$gutter)*($i) + $gutter*2}

    &-item
      left: $gutter/2
      position: absolute
      transition: .3s
      background-color: #FFF
      cursor: pointer
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      transform: scale(1) rotate(0deg)
      opacity: 1
      &::before
        content: ""
        display: block 
        width: 100%
        height: 100%
        position: absolute
        background-color: $color
        border-radius: 100%
        z-index: -1

      &--dark
        background-color: #253682
        &::before
          display: none
          

      &--no-label
        transform: scale(1) rotate(0deg) translateY(25px)

      img
        height: 60%

      @for $i from $n-child through 1
        &:nth-child(#{$i})
          transition-delay: .1s*$i
          bottom: $size*($i - 1)+$gutter*($i)

      &-label
        position: absolute
        font-size: 12px
        line-height: 12px
        color: $color-primary-dark
        top: $size+$gutter/2
        width: $size + $gutter
        font-weight: 400

  &__menu
    position: absolute
    bottom: -$gutter/2
    right: -$gutter/2
    width: $size+$gutter
    height: #{($size+$gutter)*($n-child+1)+5px}
    background-color: $color
    border-radius: $size
    overflow: hidden
    transition: .4s
        
    @for $i from 0 to 5
      &--#{$i}
        height: #{($size+$gutter)*($i+1)+5px}
    
    &-item
      left: $gutter/2
      position: absolute
      transition: .3s
      background-color: #FFF
      cursor: pointer
      display: flex
      justify-content: center
      flex-direction: column
      align-items: center
      img
        height: 60%

      @for $i from $n-child+1 through 1
        &:nth-child(#{$i})
          transition-delay: .1s*$i
          bottom: $size*($i)+$gutter*($i)

  &--hide
    .control__menu
      height: $size+$gutter
      &-item
        transform: scale(0.5) rotate(20deg)
        opacity: 0

    .control__out
      bottom: $size+$gutter*3
  
