$shadow: 0px 5px 10px rgba(0, 0, 0, .1)
$shadow-big: 2px 7px 17px rgba(0, 0, 0, .2)


$color-primary: #2e50df
$color-secondary: #ffcca9
$color-light: #EEE
$color-dark: #000
$color-grey: #AAA

$font-primary: "GothamRounded"

$font-size-big: 40px 
$font-size-medium: 22px
$font-size-normal: 14px
$font-size-small: 11px
$font-size-icon: 30px

$color-primary-light: #96a7ef

