<header class="header">
	
	<nav class="header__nav header__nav--left">
		<h1 class="header__brand header__brand--left">Spell</h1>
	</nav>

	<nav class="header__nav header__nav--right">
		<ul class="header__menu">
			<li class="header__menu-item">
				<a href="#">Books</a>
			</li>
			<li class="header__menu-item">
				<a href="#" class="header__drop-btn">Account</a>
				<div class="header__drop header__drop--close">
					<a href="#" class="header__drop-item">Paramètre du compte</a>
					<a href="#" class="header__drop-item">Déconnexion</a>
				</div>
			</li>
		</ul>
	</nav>

</header>