.magicword

  width: 100%
  margin-bottom: 30px
  max-width: 200px
  margin: auto
  padding: 20px

  &__img
    max-width: 100%
    max-height: 130px
    display: block
    margin: auto

  &__title
    text-align: center
    font-weight: bold
    font-size: 22px
    margin-top: 10px
    height: 40px

  &__synonymes
    display: flex
    justify-content: center

  &__synonyme
    padding: 0 3px
    &::after
      content: "|"
      color: #CCC
      transform: translateX(5px)
      margin-left: 5px
    &:last-child::after
      display: none

.dictionnary__storage
  display: none
