<header class="header">
	
	<nav class="header__nav header__nav--left">
		<h1 class="header__brand header__brand--left">Spell</h1>
		
		<ul class="header__menu">
			<li class="header__menu-item">
				<%= link_to "A propos", root_path %>
			</li>
			<li class="header__menu-item">
				<%= link_to "L'équipe", team_path %>
			</li>
			<li class="header__menu-item">
				<%= link_to "Le Magasin", store_path %>
			</li>
		</ul>
	</nav>

	<nav class="header__nav header__nav--right">
		<ul class="header__menu">
			<li class="header__menu-item">
				<a href="#">Connexion</a>
			</li>
			<li class="header__menu-item">
				<a href="#">Inscription</a>
			</li>
		</ul>
	</nav>

</header>