<div class="about">
  <section class="container mt-4">
    <div class="row">
      <h1 class="title-1 mb-5 container__title">À Propos</h1> 
    </div>
    <div class="colored">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam facere, numquam earum nulla, ea eius. Nulla numquam iste est cumque velit aliquid commodi aliquam dolore architecto, dicta eum assumenda, consectetur!
    </div>
  </section>
</div>
