<div class="about">
  <section class="container mt-4">
    <div class="row">
      <h1 class="title-1 container__title">À Propos</h1> 
    </div>
    <div class="colored about__separator">
     Spell est une application web destinée aux enfants de 4 à 6 ans qui rend l’acte de lecture magique pour donner envie aux enfants d’apprendre à lire. 
    </div>
    <div class="about__block-container">
      <p class="about__block">
        Ce projet a été réalisé en 2018 par Justine Lenouvel (graphisme), Matthieu Pajot (graphisme), Nikita Skargovski (développeur) et Solal Revel (développeur) dans le cadre du projet d efin d’année du Bachelor BDDI de Gobelins.
      </p>
      <p class="about__block">
        Si notre projet vous intéresse ou si vous avez une question, n’hésitez pas à nous contacter. 
        <br>
        <br><a href="mailto:pajotmatthieu@gmail.com">pajotmatthieu@gmail.com</a>
        <br><a href="mailto:j.lenouvel@hotmail.fr">j.lenouvel@hotmail.fr</a>
        <br><a href="mailto:n.skargovski@gmail.com">n.skargovski@gmail.com</a>
        <br><a href="mailto:solal.dussout-revel@hotmail.fr">solal.dussout-revel@hotmail.fr</a>
      </p>
    </div>
    <div class="about__separator"></div>
    <div class="about__logos">
      <%= image_tag "logo-gobelins.png", class:"about__logo-left" %>
      <%= image_tag "logo-cci.jpg", class:"about__logo-right" %>
    </div>
  </section>
</div>
