<div class="home">

	<section class="landing">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h1 class="text-center">Spell</h1>
					<div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at tincidunt ligula. Ut et est quam. Sed rhoncus, lacus id laoreet lacinia, orci diam molestie leo, quis congue justo ligula ac sem. Quisque in maximus enim, ac auctor ante. Nulla urna ligula, lobortis et rutrum a, pharetra sed turpis. Suspendisse eget lorem dolor. Morbi molestie, massa id laoreet suscipit, magna sapien lobortis ligula, ac pharetra sem sapien a purus. Donec varius feugiat consequat. Morbi vulputate sapien et purus ullamcorper convallis. Phasellus convallis nulla felis, in pretium metus hendrerit vel. Sed dictum ligula sollicitudin pellentesque tincidunt. Vestibulum arcu augue, tempus maximus tincidunt vestibulum, tempus id lorem. </p>
					</div>
					<%= link_to "Commencez", books_path, class: "btn"%>
				</div>

				<div class="col-sm-6 mt-4">
					<p>
						Donec mollis leo a lorem tempor bibendum. Vestibulum et ante at orci suscipit tempus. Ut ligula augue, dictum in justo at, interdum mattis justo. In eget augue vehicula dolor malesuada fringilla. Pellentesque congue rhoncus sem a vulputate. Nullam consectetur mauris nunc, ac pharetra est laoreet quis. Integer hendrerit risus quis tempor fringilla. Maecenas quis cursus lectus. Maecenas molestie, nulla et vestibulum porta, mi lorem sagittis quam, ac dapibus quam nibh eu augue. Pellentesque volutpat, turpis nec pellentesque gravida, odio nunc facilisis tellus, eget congue augue tellus at ante. 
					</p>
				</div>

				<div class="col-sm-6">
					<img src="" class="landing__img" alt="">
				</div>
				 
			</div>
	

		</div>
	</section>


</div>
