<div class="home" data-current="#section-1">

  <section id="section-landing" class="landing">   
    <div class="landing__wrapper" data-scrollable="1, 1" data-scrollable-offset="0">

      <svg class="landing__logo" viewBox="0 0 1380 821" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <path class="landing__logo-video" d="M699.28,302.283227 L699.28,275 C673.874902,275 653.28,295.594902 653.28,321 C653.28,339.866805 664.638335,356.080728 680.889999,363.176765 L680.89,390.5 C693.096892,390.500005 704.803238,385.648099 713.431062,377.012773 C722.058886,368.377446 726.900615,356.666888 726.89,344.46 C726.89,325.593195 715.531665,309.379272 699.280001,302.283235 Z M0,0 L1380,0 L1380,821 L0,821 L0,0 Z" id="Combined-Shape" fill="white"></path>
      <g transform="translate(653.000000, 275.000000)" fill-rule="nonzero">
          <path class="landing__logo-left" d="M0.28,46 C0.28,71.4050985 20.8749015,92 46.28,92 L46.28,0 C20.8749015,-1.55561363e-15 0.28,20.5949015 0.28,46 Z" id="Shape" fill="#143ADB" opacity="0.5"></path>
          <path class="landing__logo-right" d="M73.89,69.46 C73.89,44.0549015 53.2950985,23.46 27.89,23.46 L27.89,115.5 C40.0968921,115.500005 51.8032381,110.648099 60.4310622,102.012773 C69.0588864,93.3774463 73.9006147,81.6668875 73.89,69.46 Z" id="Shape" fill="#FFCCA9" opacity="0.67"></path>
      </g>
    </svg>

      <video loop autoplay class="landing__video" muted>
        <source src="/videos/trailer.mp4" type="video/mp4">
      </video>

      <div class="landing__container">
        <a class="landing__title landing__title--hidden">
          <p class="landing__title-1">Découvrir</p>
          <p class="landing__title-2">Spell</p>          
        </a>
      </div>
    
    </div>

  </section>


  <section id="section-1" class="panel">
    <div class="container panel__container"> 
      <div class="panel__block panel__title-container" data-scrollable-offset="200" data-scrollable="50px" data-scrollable-modifier="panel__title-container--visible">
        <span class="panel__count" data-scrollable data-scrollable-modifier="panel__count--visible">01</span>
        <h2 class="panel__title">
          <span class="panel__title-line">Une application web</span>
          <span class="panel__title-line">pour s'initier à la lecture</span>
        </h2>
      </div>
      

      <div class="panel__container panel__container-1 panel__container--end">
        <div class="panel__block panel__text-container" 
        data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="400">
          <h3 class="panel__text-title delay-5">Simplissime</h3>
          <p class="panel__text-content delay-4">
            Rien à intaller<br>
            Accessible via une simple URL,<br>
            Parcourez votre bibliothèque et sélectionnez l'histoire que vous souhaitez lire.<br>
            Partez à l'aventure
          </p>
          <span class="panel__text-separator"></span>
          <p class="panel__text-content uppercase delay-3">disponible sur tous les supports</p>
          <p class="panel__text-content uppercase delay-2">une expérience fluide et accessible</p>
          <div>
            <a href="" class="btn btn--slide delay-1">Découvrir</a>  
          </div>
        </div>

        <div id="background-mockup" class="panel__background" data-scrollable="5%, -10%">
          <video loop autoplay muted>
            <source src="/videos/mockup-ipad.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>  
  </section>
    
  <section id="section-2" class="panel">   
    
    <div id="background-section-2" class="panel__background">
      <video autoplay="true" loop="true" muted> 
        <source src="/videos/chateaux.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video> 
    </div>

    <div class="container panel__container"> 
      
      <div id="" class="panel__container-1 panel__container panel__container--start">
        <div class="panel__block panel__text-container"
        data-scrollable 
        data-scrollable-modifier="panel__text-container--visible" 
        data-scrollable-offset="300" >
          <h3 class="panel__text-title delay-4">Passionnant</h3>
          <p class="panel__text-content delay-4">
            Au fur et à mesure que le parent lit, l'histoire se matérialise et s'anime sous les yeux de l'enfant grâce à la reconnaissance vocale.<br>
            Des ambiances sonores renforcent la puissance du récit.
          </p>
          <span class="panel__text-separator delay-3"></span>
          <p class="panel__text-content uppercase delay-2">un récit immersif</p>
          <p class="panel__text-content uppercase delay-1">une lecture vivante</p>
        </div>
      </div>
      
      <div class="panel__container mt-4 panel__container-2">
        <div 
        class="panel__block panel__title-container"  
        data-scrollable="20px"
        data-scrollable-modifier="panel__title-container--visible" >
          <span class="panel__count" data-scrollable data-scrollable-modifier="panel__count--visible">02</span>
          <h2 class="panel__title">
            <span class="panel__title-line">Une nouvelle manière</span>
            <span class="panel__title-line">de raconter des histoires</span>
          </h2>
        </div>
      </div>
    </div>  
  </section>

  <section id="section-3" class="panel">   
    
    <div class="container panel__container panel__container-1"> 
      <div id="background-section-3" class="panel__background" data-scrollable="25%">
        <video autoplay loop muted>
          <source src="/videos/video-landing.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
      </div>
    
      <div 
      class="panel__block panel__title-container" 
      data-scrollable="20px"
      data-scrollable-modifier="panel__title-container--visible" 
      data-scrollable-offset="200">
        
        <span 
        class="panel__count" 
        data-scrollable 
        data-scrollable-modifier="panel__count--visible">03</span>
       
        <h2 class="panel__title">
          <span class="panel__title-line">Des récits</span>
          <span class="panel__title-line">interactifs</span>
        </h2>
      </div>
    </div>  

    <div class="container panel__container panel__container-2">
      <div 
      class="panel__block panel__text-container panel__text-container--horizontal"
      data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="100" >
        <div class="pad-title">
          <h3 class="panel__text-title">Élémentaire.</h3>
          <p class="panel__text-content">
            Des histoires à choix multiples.<br>
            Des interactions finements pensées : manipulation d'objets, jeux cherche et trouve, mots magique et bien plus encore
          </p>
        </div>
              
        <div>
          <p class="panel__text-content uppercase">Apprentissage des mots</p>
          <p class="panel__text-content uppercase">Développement de la motricité</p>
          <p class="panel__text-content uppercase">découverte ludique de la lecture</p>
        </div>
      </div>
    </div>

  </section>

  <section id="section-4" class="panel">
  
    <div class="container panel__container panel__container-2"> 
      <div id="background-mockup" class="panel__background" data-scrollable="20%">
        <video autoplay loop muted>
          <source src="/videos/heros.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
      </div>

      <div 
      class="panel__block panel__title-container" 
      data-scrollable="20px"
      data-scrollable-modifier="panel__title-container--visible" 
      data-scrollable-offset="200">
        <span class="panel__count" data-scrollable data-scrollable-modifier="panel__count--visible">04</span>
        <h2 class="panel__title">
          <span class="panel__title-line">Un héros</span>
          <span class="panel__title-line">personnalisable</span>
        </h2>
      </div>
      
      <div class="panel__container-1 pad-title">
        <div class="panel__block panel__text-container"
        data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="200" >
          <h3 class="panel__text-title delay-4">Ludique</h3>
          <p class="panel__text-content delay-3">
            Spell offre la possibilité à l'enfant de choisir son héros, son nom, son aspect, son cri de guerre
          </p>
          <span class="panel__text-separator"></span>
          <p class="panel__text-content uppercase delay-2">découverte ludique de la lecture</p>
          <p class="panel__text-content uppercase delay-1">participation active à la lecture</p>
        </div>
      </div>
    </div>  
  </section>

  <section id="section-5" class="panel">

    <div class="container panel__container panel__container-1"> 
      <div id="background-5" class="panel__background">
        <video autoplay loop muted>
          <source src="/videos/dragon.mp4" type="video/mp4">
          Your browser does not support the video tag.
        </video> 
      </div>

      <div 
      class="panel__block panel__title-container" 
      data-scrollable="50px"
      data-scrollable-modifier="panel__title-container--visible" 
      data-scrollable-offset="00">
        <span class="panel__count" data-scrollable data-scrollable-modifier="panel__count--visible">05</span>
        <h2 class="panel__title">
          <span class="panel__title-line">Des mondes fantastiques</span>
          <span class="panel__title-line">à explorer</span>
        </h2>
      </div>

      <div class="container panel__container panel__container-2">
        <div class="panel__block panel__text-container panel__text-container--horizontal"
        data-scrollable data-scrollable-modifier="panel__text-container--visible" data-scrollable-offset="200" >
          <div class="pad-title">
            <h3 class="panel__text-title">Légendaire.</h3>
            <p class="panel__text-content">
              Paysages aux milles couleurs, créatures amies et monstres farouches seront de la partie. 
            </p>
          </div>              
          <div>
            <p class="panel__text-content uppercase">stimulation de l’imaginaire</p>
            <p class="panel__text-content uppercase">une multitude d’histoires</p>
          </div>
        </div>
      </div>

      <div class="container text-center spaceship__container">
        <%= image_tag "fusee.png", id: "spaceship", class: "spaceship" %>
        <%= link_to "Débuter l'aventure", book_marks_path, class: "btn btn--slide mt-5", id: "aventure-start" %>
      </div>

    </div>
  </section>


  <section id="section-6" class="panel">
    <div class="container panel__container panel__container-1"> 
    
      <div id="carousel-title" class="carousel">
        <div class="carousel__item carousel__item--visible">
          <h2 class="panel__title-huge">
            <span>"On a failli rater </span> 
            <span>le projet parce que</span>
            <span>tu sais pas colorier."</span>          
          </h2>
          <p class="carousel__item-label">_Matthieu, 23 ans_</p>
        </div>
        <div class="carousel__item carousel__item--hidden">
          <h2 class="panel__title-medium">
            <span>"Jsuis gogole j’ai branché </span>
            <span>mes écouteurs, normal que le</span>
            <span>micro marche pas."</span>
          </h2>
          <p class="carousel__item-label">_Nikiswag, 21 ans_</p>
        </div>
        <div class="carousel__item carousel__item--hidden">
          <h2 class="panel__title-medium">
            <span>"En fait des fois on commence à</span>
            <span>faire des choses mais on pense</span>
            <span>quo’n va pas y arriver mais au</span>
            <span>bout d’un moment on y arrive ."</span>
          </h2>
          <p class="carousel__item-label">_Marceau, 6 ans_</p>
        </div>
        <div class="carousel__item carousel__item--hidden">
          <h2 class="panel__title-huge">
            <span>"L’arbre il a des</span> 
            <span>virages parce-que</span>
            <span>c’est plus facile de </span>
            <span>grimper avec."</span>
          </h2>
          <p class="carousel__item-label">_Marceau, 6 ans_</p>
        </div>
        <div class="carousel__item carousel__item--hidden">
          <h2 class="panel__title-huge">
            <span>"Ça fait rêver les</span>
            <span>gosses ! Mais ça </span>
            <span>fait pas rêver le dev."</span>
          </h2>
          <p class="carousel__item-label">_Justine et Solal_</p>
        </div>
        <div class="carousel__item carousel__item--hidden">
          <h2 class="panel__title-huge">
            <span>"C’est où ? Dans le</span>
            <span>drive. Ok, mais où ?"</span>
          </h2>
          <p class="carousel__item-label">_Solal et les graphistes_</p>
        </div>
        
      </div>

      <div id="carousel-photo" class="carousel carousel--no-overflow" data-carousel='{"timeout": 500}'>
        <div class="carousel__item carousel__item carousel__item--visible">
          <div class="panel__background">
            <%= image_tag "photo.jpg" %>
          </div>
        </div>
        <div class="carousel__item carousel__item carousel__item--hidden">
          <div class="panel__background">
            <%= image_tag "mock-up.png" %>
          </div>
        </div>
      </div>

    </div>  
  </section>

  <!-- TIMELINE -->
  <div class="container">
    <div class="timeline">
      <a class="timeline__item timeline__item--active" href="#section-1" data-scroll data-options='{"offset": 60}'>
        <span class="timeline__item-count">01</span>
        <span class="timeline__item-label">Simplissime</span>
      </a>
      <a class="timeline__item" href="#section-2" data-scroll>
        <span class="timeline__item-count">02</span>
        <span class="timeline__item-label">Passionnant</span>
      </a>
      <a class="timeline__item" href="#section-3" data-scroll data-options='{"offset": -50}'l>
        <span class="timeline__item-count">03</span>
        <span class="timeline__item-label">Élémentaire</span>
      </a>
      <a class="timeline__item" href="#section-4" data-scroll data-options='{"offset": 0}'>
        <span class="timeline__item-count">04</span>
        <span class="timeline__item-label">Ludique</span>
      </a>
      <a class="timeline__item" href="#section-5" data-scroll data-options='{"offset": 70}'>
        <span class="timeline__item-count">05</span>
        <span class="timeline__item-label">Légendaire</span>
      </a>
      <a class="timeline__item" href="#section-6" data-scroll>
        <span class="timeline__item-count">06</span>
        <span class="timeline__item-label">Simplissime</span>
      </a>
    </div>
  </div>

</div>
