<div class="team">
  <section class="container mt-4">
    <div class="row">
      <h1 class="title-1 container__title">L'équipe</h1> 
    </div>
    
    <div class="team__container">
      <div class="team__mate">
        <video loop autoplay class="landing__video" muted>
          <source src="/videos/heros-solal.mp4" type="video/mp4">
        </video>
        <h2 class="team__mate-title">Solal Dussout-Revel</h2>
        <h3 class="team__mate-role">Développeur</h3>
        <p class="team__mate-description">Philantrope et grand amateur de jazz, Solal Dussout-Revel est considéré par une bonne partie de la communauté des développeurs comme l’un des plus grands dans ce domaine. Full-Stack est son deuxième nom de famille.</p>
      </div>

      <div class="team__mate">
        <video loop autoplay class="landing__video" muted>
          <source src="/videos/heros-justine.mp4" type="video/mp4">
        </video>
        <h2 class="team__mate-title">Justine Lenouvel</h2>
        <h3 class="team__mate-role">Graphiste</h3>
        <p class="team__mate-description">Son nom est Lenouvel, mais le L aurait pu être un R tant Justine renouvelle le champ du design à chacune de ses estocades graphiques. Si ce n’était pas suffisant, Justine est aussi une des plus grandes exploratrices encore en vie.</p>
      </div>

      <div class="team__mate">
        <video loop autoplay class="landing__video" muted>
          <source src="/videos/heros-matthieu.mp4" type="video/mp4">
        </video>
        <h2 class="team__mate-title">Matthieu Pajot</h2>
        <h3 class="team__mate-role">Graphiste</h3>
        <p class="team__mate-description">Il aurait créé les studios Disney s’ils n’existaient pas. Comment définir le talent d’animateur de Matthieu ? Les mots manquent. Et ils disparaissent littéralement à la vue de ses diverses productions graphiques. Soyez prêts.</p>
      </div>

      <div class="team__mate">
        <video loop autoplay class="landing__video" muted>
          <source src="/videos/heros-nikita.mp4" type="video/mp4">
        </video>
        <h2 class="team__mate-title">Nikita Skargovskii</h2>
        <h3 class="team__mate-role">Développeur</h3>
        <p class="team__mate-description">Le webGL n’a aucun secret pour lui. D’ailleurs, une rumeur court et raconte qu’il en serait le créateur. Homme des plus mystérieux, Nikita est champion de beatbox entretiendrait des rapports très proches avec son mentor, Poutine.</p>
      </div>
    </div>

  </section>
</div>
