<div class="container mt-4">
  
  <h1 class="title-1 container__title">Editer livre</h1>

  <%= render 'form', book: @book %>

  <div class="text-right">
    <%= link_to 'Show', @book %> |
    <%= link_to 'Back', books_path %>
  </div>
</div>
