<%= render :partial => "partials/header" %>
<div class="container">
  
	<p id="notice"><%= notice %></p>

	<h1 class="title-1">Books</h1>

	<h1>New Book</h1>

	<%= render 'form', book: @book %>

	<%= link_to 'Back', books_path %>
</div>