

<div class="fragment">
  <div class="fragment__background"></div>
  <canvas id="canvas"></canvas> 
  <div class="fragment__foreground"></div>
</div>

<div id="controller" class="control control--hide">
  <button id="control-menu-btn" class="control__btn">+</button>
  <div class="control__menu">
    <button class="control__btn control__menu-item" data-target="pause"><i class="material-icons">&#xE034;</i></button>
    <button class="control__btn control__menu-item" data-target="help">?</button>
    <button class="control__btn control__menu-item" data-target="tree"><i class="material-icons">timeline</i></button>
    <button class="control__btn control__menu-item" data-target="settings"><i class="material-icons">&#xE8B8;</i></i></button>
  </div>
</div>

<div id="settings-panel" class="settings settings--hidden">
  <div class="settings__container">
    <button class="settings__close"><i class="material-icons">close</i></button>
  </div>
</div>

<div id="help-panel" class="help">
  
</div>

<script type="text/javascript">

  window.addEventListener("load", function(){
    if( window.book ){
      loadAsyncScript("/books/<%= @fragment.book.id %>/fragments/<%= @fragment.id %>.js", function(element){
        element.parentNode.removeChild(element);
      });
    }
  })
  
</script>
