<div class="container mt-4">
  
  <h1 class="title-1 container__title text-center">Editing Fragment</h1>

  <%= render 'form', fragment: @fragment, book: @fragment.book %>

  <%= link_to 'Show', @fragment %> |
  <%= link_to 'Back', fragments_path %>

</div>

