<div class="container mt-4">
  
  <h1 class="title-1">Editing Fragment</h1>

  <%= render 'form', fragment: @fragment %>

  <%= link_to 'Show', @fragment %> |
  <%= link_to 'Back', fragments_path %>

</div>

