<div class="container mt-4">
  <h1 class="title-1 container__title text-center">New Fragment</h1>

  <%= render 'form', fragment: @fragment, book: @book %>

  <%= link_to 'Back', fragments_path, class: "btn" %>
</div>
