$header-h: 60px
$gutter: 10px

.book
  position: relative
  background-repeat: no-repeat
  background-size: cover
  background-position: center bottom

  height: calc(100vh - 70px)

  &__close-btn
    position: absolute
    top: $gutter
    right: $gutter
    font-size: $font-size-icon

  &__container
    background: linear-gradient(white 20%, rgba(255, 255, 255, 0.5) 80%, transparent 100%)
    padding-bottom: 100px

  &__title
    font:
      size: 30px
      weight: bold
    text-align: left
    padding-bottom: 15px !important
    margin-bottom: 0px

  &__specs
    display: flex
    flex-wrap: wrap
    margin-bottom: $gutter

  &__spec
    display: inline-block
    font-weight: bold 
    &::after
      content: "|"
      display: inline-block
      margin: 0 5px
    &:last-child
      &::after
        content: ""
  
  &__description
    margin-bottom: $gutter

  &__actions
    text-align: left
