
.devise-container
  min-height: calc(100vh - 60px)
  display: flex
  flex-direction: column
  justify-content: center
  background-color: white

  .devise
    padding: 20px
    border-radius: 5px
    max-width: 500px
    width: 90%
    margin: 50px 0

    .field_with_errors
      width: 100%
      background-color: $color-secondary
      label
        font-size: 13px
        margin-left: 10px
        padding-top: 7px

    &__logo
      width: 80px
      display: block
      margin: auto
      margin-bottom: 60px

  h2
    font-size: $font-size-medium
    font-weight: 300
    color: black
    padding-bottom: 40px
    text-align: center
    margin-botom: 20px
    font-size: 30px

  .field 
    margin-bottom: 45px
    margin-top: 0

    label
      color: #9c9c9c !important
      font-weight: 500
      font-size: 15px


  input[type="submit"]
    padding: 7px 70px
    background-color: rgba($color-primary, .5)
    color: white
    cursor: pointer
    border-radius: 0
    border: 0
    letter-spacing: 1px
    margin-top: 20px
  
  #error_explanation
    display: none
