.devise-container
  min-height: calc(100vh - 60px)
  display: flex
  flex-direction: column
  justify-content: center
  background-color: white

  .devise
    padding: 20px
    border-radius: 5px
    max-width: 550px
    width: 90%
    margin: 50px 0

  h2
    letter-spacing: 5px
    text-transform: uppercase
    font-size: $font-size-medium
    color: #555
    padding-bottom: 40px
    text-align: center

  
  div.field
  
    margin-bottom: 30px

    &::after
      content: ""
      display: block
      clear: both

    label
      display: inline-block
      font-size: $font-size-normal
      letter-spacing: 1px
      float: left
      height: 30px
      justify-content: center
      display: flex
      flex-direction: column
      text-transform: none

      & + i
        display: block
        font-size: $font-size-small
        color: #c5c5c5

    input
      width: 70%
      float: right

    input, textarea
      border-radius: 0px
      padding: 7px 10px
      border: 0px
      background-color: $color-primary-light
    
      &[type="checkbox"] 
        display: inline-block
        padding: 0
        width: 30px

      &[data-confirm]
        background-color: #efefef


  input[type="submit"]
    padding: 7px 70px
    background-color: rgba($color-primary, .5)
    color: white
    cursor: pointer
    border-radius: 0
    border: 0
    letter-spacing: 1px
    margin-top: 20px

      

