$height: 30px
$check-width: 80px
$check-height: 40px
$check-gutter: 4px

$border-height: 2px

$color: #000
$color-valid: #61aeae
$color-invalid: #ffbcbc

.field
  margin: auto
  position: relative
  width: 100%
  max-width: 650px
  margin-top: $height
  
  input[type="radio"], input[type="checkbox"]
    height: 0
    width: 0
    display: none
    
    & ~ label
      position: relative
      padding-right: 10px
      min-width: $check-width
      display: inline-block
      margin: 10px
      
      &::before, &::after
        content: ""
        display: block
        position: absolute
        right: 0%
        top: 50%
        transform: translateY(-50%)
        transition: .3s ease-in-out


      &::before
        width: $check-width
        height: $check-height
        border-radius: $check-width
        border: 2px solid black
        opacity: 66
        background-color: transparent

      &::after
        width: $check-height - 2*$check-gutter
        height: $check-height - 2*$check-gutter
        border-radius: 30px
        background-color: #031347
        transform: translateX(-#{$check-height + $check-gutter}) translateY(-50%)

    &:checked ~ label
      &::after
        transform: translateX(-$check-gutter) translateY(-50%)
   
  
  input:not([type="radio"]):not([type="checkbox"])
    border: 0
    border-bottom: $border-height solid $color
    width: 100%
    height: $height
    box-sizing: border-box
    box-shadow: none
    outline: none
    
    &:focus ~ label, &:not([data-value=""]) ~ label
      padding-bottom: $height*0.75
      top: -$height*0.75
      //transform: translateY(-#{$height*0.75}) scale(0.9)
    
    &:invalid ~ label
      &::after
        width: 100%
        background-color: $color-invalid
        color: $color-invalid
   
    & ~ label
      color: $color
      position: absolute
      top: 0
      left: 0
      pointer-events: none
      line-height: $height
      width: 100%
      transition: .2s
      transform: scale(1) translateY(0)
        origin: 0

      &:after
        content: ""
        bottom: 0
        height: $border-height
        display: block
        width: 0
        position: absolute
        background-color: $color-invalid
        transition: .3s
      
  // Mention
  i 
    color: grey
    margin-top: 10px
    font-size: 12px
    display: inline-block
  


.field
  // label
  //   display: inline-block
  //   margin-bottom: .5rem
  //   text-transform: uppercase
  //   letter-spacing: 5px
  //   font-size: $font-size-small
  //   margin-bottom: 5px
  //   max-width: 25%

  //   & + i
  //     display: block
  //     font-size: 13px
  //     color: #c5c5c5

  // i
  //   display: block
  //   float: right

  // input, textarea
  //   width: 100%
  //   border-radius: 5px
  //   padding: 10px 10px
  //   border: 1px solid #DDD
  
  //   &[type="checkbox"] 
  //     display: inline-block
  //     padding: 0
  //     width: 30px

input[type="submit"]
  display: inline-block
  padding: 7px 15px
  background-color: $color-primary-light
  color: white
  color: black
  transition: 0.4s
  width: auto
  margin: 10px 0
  color: white
  position: relative
  text-decoration: none
  border: 0
  cursor: pointer
  box-shadow: none
  outline: none

  &[data-confirm]
    background-color: #efefef


.actions
  text-align: right

.ressources
  max-width: 650px
  margin: auto

  &__fields

  &__field
    display: block
    width: 100%
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .1)
    position: relative
    height: 50px
    margin-bottom: 20px
    border-bottom: 2px solid $color-primary-light

    &--destroy
      opacity: 0.5
      filter: grayscale(60%)

    &-thumbnail 
      position: absolute
      height: 50px
      width: 50px
      left: -60px
      overflow: hidden
      background-color: #EFEFEF

      img
        display: block
        position: absolute
        top: 50%
        left: 50%
        transform: translateX(-50%) translateY(-50%)
        min-width: 100%
        max-width: 100%


    &-name
      display: inline-block
      float: left

      input
        padding: 15px
        border: 0
        font-size: 15px


    &-file
      display: inline-block
      position: relative
      float: left

      input
        height: 50px
        margin-top: 13px

      label
        display: inline-block
        width: 100px
        height: 50px
        position: absolute
        left: 0
        background-color: $color-primary-light
        color: white
        line-height: 50px
        text-align: center
        top: 0


    &-remove
      position: absolute
      right: 10px
      top: 0
      width: 50px
      height: 50px
      background-color: transparent
      border: 0


