.title
  &-1
    font-size: $font-size-big
    color: $color-primary
    font-weight: bold
    line-height: 30px
    margin-bottom: 0
  &-2
    font-size: $font-size-medium
    font-weight: bold
  &-3
    font-size: $font-size-medium
    font-weight: 400
