#arborescence-panel
  background:
    image: image-url("image/bg-carte.png")
    position: center
    repeat: no-repeat
    size: cover

.tree
  position: absolute
  height: 200vh
  transform: rotate(-20deg)
  overflow: scroll
  width: 150vw
  top: -50vh
  left: -80px
  z-index: -1

  &::-webkit-scrollbar
    width: 0px
    background: transparent

  &__container
    height: 100%
    width: 5000px
  
  &__item
    position: absolute
    display: flex
    width: 160px
    height: 200px
    border-radius: 100%
    text-align: center
    justify-content: center
    flex-direction: column
    transform: translateY(-50%) rotate(20deg)
    transition: .4s ease
    background-position: center
    background-size: 80%
    background-repeat: no-repeat
    @for $i from 1 to 25
      &:nth-child(25n + #{$i})
        background-image: image-url("examples/planete-#{random(7)}.png")

    &-title
      position: absolute
      top: 100%
      width: 120px
      left: 50%
      transform: translateX(-50%)
      font-size: 14px
      font-weight: bold
      line-height: 1.2em


    &-ramifications

    &-ramification
      display: block
      position: absolute
      height: 1px
      transform-origin: 0
      border-bottom: 1px dashed black
