.tree
  position: relative

  &__item
    position: absolute
    display: flex
    background-color: #CCC
    width: 150px
    height: 150px
    border-radius: 100%
    text-align: center
    justify-content: center
    flex-direction: column

    &-title
