<div class="container mt-4">
  
  <h1 class="title-1">Editing Book Mark</h1>

  <%= render 'form', book_mark: @book_mark %>

  <%= link_to 'Show', @book_mark %> |
  <%= link_to 'Back', book_marks_path %>

</div>
