<div class="container mt-4">
  <h1 class="title-1 container__title">New Book Mark</h1>

  <%= render 'form', book_mark: @book_mark %>
  
  <div class="text-right">
    <%= link_to 'Back', book_marks_path %>  
  </div>
</div>

