// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$book-size: 300px
$book-size-s: 150px

.books
  display: flex
  flex-wrap: wrap
  margin: 0 -30px

  &__item
    width: $book-size
    flex-direction: column
    justify-content: center
    display: flex
    text-align: center
    text-decoration: none
    margin: 0px 30px 30px 30px

    &-title
      font:
        weight: bold
        size: 18px
      text-align: center
      margin-top: 10px
      text-decoration: none
      color: black
      height: 30px

    &-subtitle
      text-align: center
      color: black
      
    &-btn
      
    &-img

      position: absolute
      top: 50%
      left: 50%
      transform: translateX(-50%) translateY(-50%)
      min-width: 100%
      min-height: 100%
      width: 100%

      &-container
        height: $book-size
        width: $book-size
        overflow: hidden
        position: relative
        background-color: #f7fafe
        transition: .4s
        box-shadow: 0
        &:hover
          box-shadow: $shadow

    &--small
      width: $book-size-s
      .books__item-img-container
        height: $book-size-s
        width: $book-size-s
