body {
  background-color: #fff;
  color: #333;
  font-family: $font-primary;
  // font-family: verdana, arial, helvetica, sans-serif;
  font-size: $font-size-normal;
  line-height: 18px;
  padding-top: 70px;
}

p, ol, ul, td {
  // font-family: verdana, arial, helvetica, sans-serif;
  font-size: $font-size-normal;
  margin: 0;
  line-height: 2em;
}

pre {
  background-color: $color-light;
  padding: 10px;
  font-size: $font-size-small;
}

a {
  color: $color-dark;

  &:hover {
    color: $color-primary;
    text-decoration: none;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

button:focus {
  outline: none;
}

#notice {
  color: green;
}

.flex-1 {
  flex: 1;
}

.uppercase {
  text-transform: uppercase;
}

.block {
  display: block;
}
.italic {
  font-style: italic;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  &--between {
    justify-content: space-between;
  }
}

.img--small {
  height: 30px;
  display: block;
}

.no-pad {
  padding: 0;
}

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary; 
}

.color-grey {
  color: $color-grey;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.font-big {
  font-size: $font-size-big;
  line-height: $font-size-big;
}

.font-medium {
  font-size: $font-size-medium;
  line-height: $font-size-medium;
}

.font-normal {
  font-size: $font-size-normal;
  line-height: $font-size-normal;
}

.font-small {
  font-size: $font-size-small;
  line-height: $font-size-small;
}

.bold {
  font-weight: bold;
}


.bottom-center-big {
  position: absolute;
  bottom: $size-big;
  left: 50%;
  transform: translateX(-50%);
}

.bottom-center-medium {
  position: absolute;
  bottom: 8vh;
  left: 50%;
  transform: translateX(-50%);
}


#alert-manager {
  display: none;
} 
  

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: $color-light;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: $font-size-small;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: $font-size-small;
    list-style: square;
  }
}

label {
  display: block;
}
